/* This CSS file is for general CSS site wide */

/* Site wide css */
* {
  box-sizing: border-box;
  text-align: center;
  line-height: 23px;
  font-family: Helvetica, sans-serif, Arial;
}
html,
body {
  margin: 0px;
  height: 100%;
}

/* Using a downloaded font */

@font-face {
  font-family: logoFont;
  src: url("\\TeamEir\\assets\\fonts\\WindSong-Regular.ttf") format("truetype");
}

/* Header CSS*/

#mainLogo {
  font-family: logoFont, cursive;
  z-index: 2;
  overflow: visible;
}

header a,
footer a {
  text-decoration: none;
}
main p {
  color: black;
  margin: 15px;
}

header a h1 {
  text-emphasis: bold;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  margin: 0px 5px;

  margin: 0%;
  padding: 0%;
}
footer a h1 {
  text-emphasis: bold;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  margin: 0px 5px;

  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a79de4;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #a79de4;
  width: 100%;
}

#searchbar {
  display: block;

  width: 25vw;
  line-height: normal;
  height: fit-content;
  text-align: left;
  font-size: large;

  font-family: "Comic Sans MS", "Comic Sans";
}

/* Site wide CSS for the p5 extension area */
#p5canvas {
  height: 50px;
  cursor: pointer;
}

/* modal content */

#modal {
  display: none;
}

/* General CSS for language switch */

#flagNO {
  cursor: pointer;
}

#flagEN {
  cursor: pointer;
  display: block;
}
.English {
  display: none;
}

.Norsk {
  display: inline;
}

#languageEN:checked ~ * .Norsk {
  display: none;
}
#languageEN:checked ~ * .English {
  display: inline;
}
