/* CSS specific to index page */


*{
	overflow: hidden;
}
#flex {
	display: flex;
	
	flex-flow: column;
	height: 100%;
	overflow: hidden;
  }

#p5canvas{
	
	overflow: hidden;
  
  flex: 1 1 auto;

  
    height: auto;
	max-width: 100%;
}

