/* CSS specific to index page */



/* main:nth-child(odd) h2{
	text-align: left;
	background-color: #a79de4;
} */
/* main:nth-child(even) h2{
	text-align: right;
	padding-right: 30px;
	background-color: #735b83;
} */

*{
	text-align: center;
}



#omOss{
	
	background-color: #a79de4;
}


#Sigrun{
	background-color: #735b83;
	
}
#Sigrun img{
	float:right;
	max-width: 30%;
	border-radius: 10px;
	border-style:ridge;
	border-width: thick;
	border-color: #a79de4;
	
}

#Gro-Mette{
	
	background-color: #a79de4;
}
#Gro-Mette img{
	float: left;
	max-width: 30%;
	border-radius: 10px;
	border-style:ridge;
	border-width: thick;
	border-color: #735b83;

	
	
}
#inspiration{
	
	margin-left: auto;
	margin-right: auto;
	clear: both;
	max-width: 640px;
}

#inspiration img{
	
	height: auto;
	max-width: 100%;
}

#Eir{
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}
